.app-footer {
  width: 100%;
  background-color: #fff;
  margin-top: auto;
}

.footer-divider {
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.footer-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.footer-content p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

.footer-link {
  color: #f97316;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-link:hover {
  color: #ea580c;
}


