name: Deploy Frontend
run-name: ${{ github.actor }} is deploying the frontend

on:
  push:
    branches: [main]
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy-frontend.yaml'

  pull_request:
    branches: [main]
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy-frontend.yaml'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  # Build job
  build:
    name: "deploy frontend to github pages through artifacts"
    runs-on: ubuntu-latest
    steps:
      - name: Check code
        uses: actions/checkout@v4

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
        
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Build frontend
        run: |
          cd frontend
          bun install
          bun run build
        env:
          VITE_BACKEND_API_URL: ${{ secrets.VITE_BACKEND_API_URL || 'http://127.0.0.1:8000' }}
      - name: Add CNAME file
        run: echo "repex.thienbao.dev" > frontend/dist/CNAME
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'frontend/dist'
  
  # Deployment job
  deploy:
    if: ${{ github.event_name == 'push' }}
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
